<!DOCTYPE html>
<html>
   <head>
   	    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
   </head>
   <body>
      <% include partial/navs.ejs %>
   	<h1>I WILL BE THE BEST FELLOW EVER SEEN BY ANDELA AND THE BEST DEVELOPER IN THE WHOLE WORLD</h1>
   	<P>This is my dream, and I will stand by it.</P>
   </body>
</html>