<!DOCTYPE html>
<html>
   <head>
   	    <style> 
   	        body{ background: skyblue; font-family: verdana; color: #fff; padding: 30px;}
   	        h1{font-size: 48; text-transform: uppercase; line-spacing: 2px; text-align: center;}
   	        p, li{font-size: 16px; text-align: center;}

              ul {font-size: 16px; text-align: center;}
   	    </style>
   </head>
   <body>
   	    <h1>This is <%= person%>'s profile bitches</h1>
   	    <P>His <strong>hobby is: </strong> <%= data.hobby %> <br> <br> and his <strong>age is: </strong> <%= data.age %></P>

          <h1>Jobs</h1>
          <ul>
            <% data.jobs.forEach(function(item) { %>

            <li><%= item %></li>

               <% }); %>

          </ul>
   </body>
</html>